<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/header::head"></head>

<body>
<div id="wrapper" class="toggled">

    <!--边栏-->>
    <nav th:insert="common/nav::nav"/>

    <!--主要内容content-->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table class="table table-bordered table-condensed">
                        <thead>
                        <tr>
                            <th>类目id</th>
                            <th>名字</th>
                            <th>type</th>
                            <th>创建时间</th>
                            <th>修改时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="category:${categoryList}">
                            <td>[[${category.categoryId}]]</td>
                            <td>[[${category.categoryName}]]</td>
                            <td>[[${category.categoryType}]]</td>
                            <td>[[${category.createTime}]]</td>
                            <td>[[${category.updateTime}]]</td>
                            <td><a th:href="@{/seller/category/index(categoryId=${category.categoryId})}">修改</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>